*.eml
*.iml
*.sw?
*.sc
*~
.cache
.DS_Store
.eclipse
.history
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/db
/dist/
/lib/
/logs/
/modules
/project/project/
/project/target
/RUNNING_PID
/target
bin/
logs
out
server.pid
target
test-result
tmp/
